.move-history {
  width: 100%;
}

.move-pair {
  display: flex;
  align-items: center;
}

.move-number {
  flex: 0 0 20px;
}

.move-white,
.move-black {
  flex: 1;
}

.move-history-container {
  flex: 1; /* Adjust this value to control the width */
}

.move-history p:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
