.random-game {
  background-color: #1f1f1f;
  color: white;
  font-family: sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  overflow-y: scroll;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.game-info-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.game-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.game-board-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  width: 40%;
}

.game-board-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 3; /* Adjust this value to control the width */
  /* width: 80%; */
}

/* .move-history-container {
  flex: 1;
  width: 20%;
  overflow-y: scroll;
  max-height: 300px;
  margin-bottom: 20px;
} */

.game-board {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.random-game button {
  display: inline-block;
  border: none;
  background-color: #3d3d3d;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
}

.random-game button:hover {
  background-color: #4c4c4c;
}

.random-game button:active {
  background-color: #2b2b2b;
}

/* iphone css settings */
@media only screen and (max-width: 600px) {
  .random-game-header h1 {
    font-size: 24px;
  }

  .random-game-header p {
    font-size: 16px;
  }

  .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 100px;
  }
  

  .game-board-container {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    margin-bottom: 20px;
  }

  .game-board-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 200px;
  }

  .move-history-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    max-height: 300px;
    margin-bottom: 20px;
  }
  

  .move-history {
    font-size: 16px;
    margin-top: 20px;
    overflow-y: scroll;
    max-height: 300px;
  }

  .move-list {
    overflow-y: scroll;
    max-height: 200px;
  }

  .game-controls {
    display: flex;
    flex-direction: column;
  }

  .game-controls button {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
  }
}
